.App {
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.App-header {
  background-image: url('../images/pattern-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 15rem;
  padding: 1.5rem;
  position: relative;
  z-index: 1;
}

.App h2 { 
  color: #fff;
  font-weight: 500;
}

@media (max-width: 780px) {
  .App-header {
    height: 19rem;
  }
}